$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$color-button-normal: #F4E041;
$color-button-hover: #FFE302;
$color-button-disabled: #B4B4B4;
$color-error: #CB3D40;
$input-text:#7e7e7e;
$hover-btn: #FFE302;